
body { background-color: black; }

a {
    text-decoration: none !important;
    color: white;
}

.countdown {
    margin: auto;
    width: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 41px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

#count1, #count2, #count3, #count4, #count5 
{
    line-height:15px;
}

#announcements {
    border: 1px solid #fa333f;
    background: #fa333f;
    color: white;
    padding: 0px 40px;
    border-radius: 5px;
}

#count1 { color: #970DB2 !important }

#count2 { color: #FF0297 !important }

#count3 { color: #75e254 !important }

#count4 { color: #4a0863 !important }

#count5 { color: #fff !important; }

#goto {
    border: 1px solid #fa333f;
    background: #fa333f;
    color: white;
    padding: 0px 40px;
    border-radius: 5px;
    font-size: 25px !important;    
}
