<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countdown</title>
    <link rel="stylesheet" href="src/styles.css">
</head>

<body>

    <section class="countdown">
        <p id="announcements">COUNTDOWN</p>
        <p id="count_1">00:00:00:00</p>
        <!-- <p id="count_2">00:00:00:00</p>
        <p id="count_3">00:00:00:00</p>
        <p id="count_4">00:00:00:00</p>
        <p id="count_5">00:00:00:00</p> -->
        <br>
        <button id="goto"><a href="http://google.com">:)</a></button>
    </section>

    <script src="src/script.js"></script>
</body>

</html>